#about-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 13%;
}

.about-right {
    width: 57%;
}

.about-right ul li {
    display: flex;
    align-items: center;
}

.about-right h1 {
    color: #e74d06;
    font-size: 30px;
    margin-bottom: 5px;
}

.about-right p {
    color: #444;
    line-height: 26px;
    font-size: 15px;
}

.about-right .address {
    margin: 25px 0;
}

.about-right .address ul li {
    margin-bottom: 5px;
}

.address .address-logo {
    margin-right: 15px;
    color: #e74d06;
    margin-bottom: 13px;
}

.address .saprater {
    margin-left: 35px;
    margin-right: 35px;
}

.about-right .expertise ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expertise h3 {
    margin-bottom: 10px;
}

.expertise .expertise-logo {
    font-size: 19px;
    margin-right: 10px;
    color: #e74d06;
}